@import "tailwindcss";

@theme {
  --font-sans: "Poppins", system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
